<head>
  <html lang = "en-US">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body id="body">
    <nav class="navbar navbar-default" id="navColour">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="clr" class="navbar-brand" href="#">The Liquor Locator</a>
            </div>
            <div>
                <ul class="nav navbar-nav" >
                    <li id="clr" ><a href="http://localhost:8000/successful_login">Home</a></li>
                    <li id="clr" class="active"><a href="#">Drink Selector</a></li>
                    <li id="clr"><a href="#">Bar Crawl</a></li>
                    <li id="clr"><a href="#">My History</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
<center>
<a href="http://s347.photobucket.com/user/shawtyjesshhicuhh/media/UnJIsXuL_zpsxpj4fwd9.gif.html" target="_blank"><img src="http://i347.photobucket.com/albums/p449/shawtyjesshhicuhh/UnJIsXuL_zpsxpj4fwd9.gif" border="0" alt=" photo UnJIsXuL_zpsxpj4fwd9.gif"/></a>
</center><br>

<center>
<h2> So you wanna get <FONT COLOR="#000080">Buzzed</FONT>... huh? </h2><br>

      You're almost there.<br>
      <h5>How much do you weigh?</h5>
      <input type="number" ng-model="userweight" placeholder="100,150,200...">  pounds <br>

<br>
<button class = "btn btn-lg btn-primary" input type="submit" value = "submit">Calculate</button>

<br>
<h3> According to your information, </h3><br>

Your height: <br>
Your weight: <br>
Your Gender: <br>

<h3> You should ...<br> <br>Have a beer or two. <br>
Or some wine.</h3> <br>

<center> 

The ideal Blood Alcohol Concentration (BAC) for the perfect buzz is .04-.06. <br>To reach a BAC of .04-.06, you must know how many drinks you need to consume given your sex and weight.<br>  The following chart provides an estimate of the number of drinks needed to reach the .04-.06 BAC range for <br>drinkers who have not developed tolerance. <a href="http://www.hbcprotocols.com/anti-alcohol/perfectbuzz.html">Read more...</a><br><br>

<style type="text/css">
#wrap {
   width:800px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}
</style>
<div id="wrap">
    <div id="left_col">
    <img src="http://dispatchist.com/wp-content/uploads/2015/05/beers.jpg" border="0" alt=" photo yelp3.jpg" width="330" height="170"/>
    <h3><FONT COLOR="#ff0000"><b> 2 </b></FONT> <FONT COLOR="#000080"> Beers (~12 oz.) </FONT> </h3>
     There are numerous types of beer out there for - all cold and ready to give you a nice buzz. Beer is typically relatively low in alcohol content, around 4-6%. This is great because it reduces the risk that alcohol will sneak up on you and leave you drunk beyond repair. Whether you or your friends are enjoying a pint at the local bar or shotgunning at a house party, beer is a very social drink. Best of all, it won’t get you too drunk if you are casually sipping, so that you won’t make a fool out of yourself (at least, not because of alcohol).
    <a href="http://berghoffbeer.com/blog/9-reasons-why-people-like-beer-so-much/">Read more...</a>
    </div>
    <div id="right_col">
        <img src="http://assets.mshanken.com/wso/Articles/2015/NS_WhiteWine042215_1600.jpg" border="0" alt=" photo yelp3.jpg" width="330" height="150""/></a><br><br>
    <h3> <FONT COLOR="#ff0000"><b> 2 </b></FONT> <FONT COLOR="#000080">Glasses of Wine </FONT> </h3>
    Red, White or Rose. Which Wine Should You Be Drinking and Why? There's nothing quite as good as a chilled glass of rose wine on a hot day, some white wine with a tasty chicken meal, or a bit of rich red wine served with steak and pasta. Of all the alcohols, wine is known to do more good than harm. Wine buzzes give you the warm and fuzzies inside, and who doesn't like the warm and fuzzies? Wine is also well-known for its rich antioxidants, and prospective health benefits. Also, did you know one glass of red wine may be the equivalent of an hour at the gym?
    <a href="http://blog.personalwine.com/why-wine-is-the-best-buzz">Read more...</a>
    </div>
</div>

</center>


<center>

<br><br><br><br><br> 
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br>


To maintain a BAC of .04-.06, you must remember that the liver eliminates about one drink per hour (less for women than for <br>
men, and even less for women who are on the birth control pill).  So, to avoid overshooting the .04-.06 range, the drinker must <br>
have no more than one beer or glass per hour.<a href="https://lordsofthedrinks.com/2013/07/31/top-7-drinks-that-smash-you-surprisingly-fast/"> Read more...</a>

<br><br><br>


  <h3>Now, search for places in your area that offers your poison.</h3><br/>


<div ng-app="myApp" ng-controller="myAppCtrl">
<style>
  .bordered {
    width: 410px;
    height: 205px;
    padding: 10px;
    border: 2px solid black;
  }
</style>
<body>
<br>
  <div class="bordered">
  <h4>
    <form action="/yelpresult" method="GET">
    <h4><b><FONT FACE="Lucida Bright">Let the night begin.</FONT></b></h4>
      I'm looking for: <input type = "text" placeholder="vodka, tequila..." name="search"><br><br>
      Location: <input type="text" placeholder="boston, cambridge, brookline..." name="location"><br><br>
      <button class = "btn btn-info btn-lg" input type="submit" value = "submit">Submit</button>
    </form>
    </div>
<br>

</center>




<br><br><br>

<center> Created by Group 7 <br>CS411 Software Engineering - Spring 2017 <br> Boston University</center>
