<br><br>
<head>
  <html lang = "en-US">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<center>
<a href="http://s347.photobucket.com/user/shawtyjesshhicuhh/media/UnJIsXuL_zpsxpj4fwd9.gif.html" target="_blank"><img src="http://i347.photobucket.com/albums/p449/shawtyjesshhicuhh/UnJIsXuL_zpsxpj4fwd9.gif" border="0" alt=" photo UnJIsXuL_zpsxpj4fwd9.gif"/></a>
</center><br>

<center>
<h2> So you wanna get <FONT COLOR="#000080">Hammered</FONT>... huh? </h2><br>

<div>
<style>
  .bordered {
    width: 410px;
    height: 500px;
    padding: 10px;
    border: 2px solid black;
  }
</style>
<body>
<br>
  <div class="bordered">
  <h4>
		  <h5>How much do you weigh?</h5>
		  <input type="number" ng-model="userweight" placeholder="100,150,200...">  pounds <br>

			<h5>How tall are you?</h5>
			<input type="number" ng-model="userheight" placeholder="5.5 = 5 foot, 6 inches">  feet <br>

		 	<h5>What gender are you?</h5>
			<form action="">
			  <input type="radio" name="gender" value="male"> Male<br>
			  <input type="radio" name="gender" value="female"> Female<br>
			</form>
    </body>
	</div>
<br>
<button class = "btn btn-lg btn-primary" input type="submit" value = "submit">Calculate</button>

<br>
<h3> According to your measurements below, </h3><br>

Your height: <br>
Your weight: <br>
Your Gender: <br>

<h3> You should drink... </h3><br>


<center>

<style type="text/css">
#wrap {
   width:800px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}
</style>

<div id="wrap">
    <div id="left_col">
        	<a href="https://lordsofthedrinks.com/2013/07/31/top-7-drinks-that-smash-you-surprisingly-fast/" target="_blank"><img src="http://i347.photobucket.com/albums/p449/shawtyjesshhicuhh/jagermeister_zpsrhohqwed.jpg" border="0" alt=" photo yelp3.jpg" width="300" height="300"/></a> 
		<h3> <FONT COLOR="#000080">Jagermeister </FONT> </h3>
		This liqueur is made of 56 herbs and that’s the only healthy thing about it. The “hunting master” (translated from German) will surely go after your liver and you won’t run fast enough to escape it. Germans humorously call the drink “liver glue”, or Leberkleister. Maybe it’s no coincidence that this word rhymes with the name of the liqueur. We have all reasons to believe the Germans – the 35% Jägermeister is so sweet and sticky that before you realize it, it will have glued your liver. With German accuracy.
    </div>
    <div id="right_col">
        <a href="https://lordsofthedrinks.com/2013/07/31/top-7-drinks-that-smash-you-surprisingly-fast/"><img src="http://i68.photobucket.com/albums/i21/Mycouch1/Miniatures/0fA8wxzXU.gif" border="0" alt=" photo yelp3.jpg" width="300" height="300""/></a>
		<h3> <FONT COLOR="#000080">Tequila </FONT> </h3>
		Of course, of course it’s impossible to compose such ranking without this classics. Being called “the moment of happiness between the salt and the lemon,” tequila is widely considered as one of the best party drinks. It is usually associated with the concept that whoever consumes it, had gone out to have real fun and kick his liver around tonight. Regardless of the many versions of tequila varying in taste and alcohol content, it remains one of the fastest way to get drunk. And it may save you the headache, if you can’t stand the sweetness of the Aftershock and the Jägermeister.
    </div>
</div>

</center>


<center>

<br><br><br><br><br> 
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br> 
<br><br><br><br><br>




  <h3>Now, search for places in your area that offers your poison.</h3><br/>


<div ng-app="myApp" ng-controller="myAppCtrl">
<style>
  .bordered {
    width: 410px;
    height: 205px;
    padding: 10px;
    border: 2px solid black;
  }
</style>
<body>
<br>
  <div class="bordered">
  <h4>
    <form action="/yelpresult" method="GET">
    <h4><b><FONT FACE="Lucida Bright">Let the night begin.</FONT></b></h4>
      I'm looking for: <input type = "text" placeholder="jagermeister, tequila..." name="search"><br><br>
      Location: <input type="text" placeholder="boston, cambridge, brookline..." name="location"><br><br>
      <button class = "btn btn-info btn-lg" input type="submit" value = "submit">Submit</button>
    </form>
    </div>
<br>

</center>




<br><br><br>

<center> Created by Group 7 <br>CS411 Software Engineering - Spring 2017 <br> Boston University</center>
