<head>
  <html lang = "en-US">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body id="body">
    <nav class="navbar navbar-default" id="navColour">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="clr" class="navbar-brand" href="#">The Liquor Locator</a>
            </div>
            <div>
                <ul class="nav navbar-nav" >
                    <li id="clr" ><a href="http://localhost:8000/">Home</a></li>
                    <li id="clr" class="active"><a href="#">Drink Selector</a></li>
                    <li id="clr"><a href="#">Bar Crawl</a></li>
                    <li id="clr"><a href="#">My History</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>

<center>
<a href="http://s347.photobucket.com/user/shawtyjesshhicuhh/media/UnJIsXuL_zpsxpj4fwd9.gif.html" target="_blank"><img src="http://i347.photobucket.com/albums/p449/shawtyjesshhicuhh/UnJIsXuL_zpsxpj4fwd9.gif" border="0" alt=" photo UnJIsXuL_zpsxpj4fwd9.gif"/></a>
</center><br>

<center>
<h2> So you wanna get <FONT COLOR="#000080">Hammered</FONT>... huh? </h2><br>

      You're almost there.<br>
      <h5>How much do you weigh?</h5>
      <input type="number" ng-model="userweight" placeholder="100,150,200...">  pounds <br>

<br>
<button class = "btn btn-lg btn-primary" input type="submit" value = "submit">Calculate</button>

<br>
<h3> According to your information, </h3><br>

Your height: <br>
Your weight: <br>
Your Gender: <br>

<h3> You should ...<br> <br>Have a beer or two. <br>
Or some wine.</h3> <br>

<h3> You should drink...<br>
responsibly and make sure you know your limit before proceeding!</h3><br>

If you're trying to wake up tomorrow and not remember the night before, the ideal Blood Alcohol Concentration (BAC) to get smashed <br>is anywhere roughly beyond 0.20%, varying from person to person given their gender and weight. The following chart provides an estimate of the number of drinks needed <br>sto reach the 0.20%+ BAC range for drinkers who have not developed tolerance. <a href="http://www.hbcprotocols.com/anti-alcohol/perfectbuzz.html">Read more...</a><br><br>


<div style="width:900px;height:600px;overflow:scroll;padding:5px; border:4px double #000080;">
<center>

<style type="text/css">
#wrap {
   width:800px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}
</style>
<center>Drink Quantity: </center><br>
<div id="wrap">
    <div id="left_col">
          <img src="http://i347.photobucket.com/albums/p449/shawtyjesshhicuhh/jagermeister_zpsrhohqwed.jpg" border="0" alt=" photo yelp3.jpg" width="300" height="300"/>
    <h3> <FONT COLOR="#000080">Jagermeister </FONT> </h3>
    This liqueur is made of 56 herbs and that’s the only healthy thing about it. The “hunting master” (translated from German) will surely go after your liver and you won’t run fast enough to escape it. Germans humorously call the drink “liver glue”, or Leberkleister. Maybe it’s no coincidence that this word rhymes with the name of the liqueur. We have all reasons to believe the Germans – the 35% Jägermeister is so sweet and sticky that before you realize it, it will have glued your liver. With German accuracy.
    <a href="https://lordsofthedrinks.com/2013/07/31/top-7-drinks-that-smash-you-surprisingly-fast/">Read more...</a>
    </div>
    <div id="right_col">
        <img src="http://i68.photobucket.com/albums/i21/Mycouch1/Miniatures/0fA8wxzXU.gif" border="0" alt=" photo yelp3.jpg" width="300" height="300""/></a>
    <h3> <FONT COLOR="#000080">Tequila </FONT> </h3>
    Of course, of course it’s impossible to compose such ranking without this classics. Being called “the moment of happiness between the salt and the lemon,” tequila is widely considered as one of the best party drinks. It is usually associated with the concept that whoever consumes it, had gone out to have real fun and kick his liver around tonight. Regardless of the many versions of tequila varying in taste and alcohol content, it remains one of the fastest way to get drunk. And it may save you the headache, if you can’t stand the sweetness of the Aftershock and the Jägermeister.
    <a href="https://lordsofthedrinks.com/2013/07/31/top-7-drinks-that-smash-you-surprisingly-fast/">Read more...</a>
    </div>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

<div id="wrap">
    <div id="left_col">
          <img src="http://res.cloudinary.com/sagacity/image/upload/c_crop,h_501,w_234,x_0,y_0/c_scale,w_640/v1397364551/bottle_saovmb.png" border="0" alt=" photo yelp3.jpg" width="150" height="300"/>
    <h3> <FONT COLOR="#000080">Fireball </FONT> </h3>
    We don't really think fireball cinnamon whisky needs an introduction. If you haven't tried it yet, just imagine what it feels like to stand face-to-face with a fire-breathing dragon who just ate a whisky barrel full of spicy cinnamon. Live it, love it, shoot it – what happens next is up to you.
    <a href="http://fireballwhisky.com/">Read more...</a>
    </div>
    <div id="right_col">
        <img src="http://www.sendgiftsineurope.com/893/online-shop-europe-send-rum-bacardi-captain-morgan-malibu-delivery-service-france-germany-uk.jpg" border="0" alt=" photo yelp3.jpg" width="300" height="300""/></a>
    <h3> <FONT COLOR="#000080">Rum </FONT> </h3>
    Have a mixed drink, or drink it straight. Rum is one of the best alcoholic beverages of all time. If you’re not a fan, well you’re doing life wrong. It’s delicious, dates back to the olden days, and will get you feeling good much faster than that light beer you’re drinking. Read more for the top seven reasons why you should really be drinking more rum. <a href="http://ppcorn.com/us/2016/03/17/top-7-reasons-why-you-should-drink-more-rum/">Read more...</a>
    </div>
</div>
    <br><br><br><br><br><br><br><br><br><br>
<div id="wrap">
    <div id="left_col">
    <img src="http://dispatchist.com/wp-content/uploads/2015/05/beers.jpg" border="0" alt=" photo yelp3.jpg" width="330" height="170"/>
    <h3><FONT COLOR="#ff0000"><b> 10 </b></FONT> <FONT COLOR="#000080"> Beers (~12 oz.) </FONT> </h3>
     How many have you shotgunned by now? 
    </div>
    <div id="right_col">
        <img src="http://assets.mshanken.com/wso/Articles/2015/NS_WhiteWine042215_1600.jpg" border="0" alt=" photo yelp3.jpg" width="330" height="150""/></a><br><br>
    <h3> <FONT COLOR="#ff0000"><b> 1 </b></FONT> <FONT COLOR="#000080">BOTTLE of Wine </FONT> </h3>
    Red, White or Rose. If you've downed a whole bottle by yourself - guaranteed you're already gone.
    </div>
</div>
</div>





<center>



<br><br>


  <h3>Now, search for places in your area that offers your poison.</h3><br/>


<div ng-app="myApp" ng-controller="myAppCtrl">
<style>
  .bordered {
    width: 410px;
    height: 205px;
    padding: 10px;
    border: 2px solid black;
  }
</style>
<body>
<br>
  <div class="bordered">
  <h4>
    <form action="/yelpresult" method="GET">
    <h4><b><FONT FACE="Lucida Bright">Let the night begin.</FONT></b></h4>
      I'm looking for: <input type = "text" placeholder="vodka, tequila..." name="search"><br><br>
      Location: <input type="text" placeholder="boston, cambridge, brookline..." name="location"><br><br>
      <button class = "btn btn-info btn-lg" input type="submit" value = "submit">Submit</button>
    </form>
    </div>
<br>

</center>




<br><br><br>

<center> Created by Group 7 <br>CS411 Software Engineering - Spring 2017 <br> Boston University</center>
<br><br>